// _header.scss
.site-icon {
  max-width: 200px;
}

@media screen and (min-width: 44.375em) {
  body.header-center {
    .page-header {
        margin-right: 7.6923%;
    }
  }
}
@media screen and (min-width: 56.875em) {

  body.header-center {
    .site-icon {
      margin: 0 auto;
      margin-top: 1em;
    }
    .site-header {
      text-align: center;

      .site-branding {
        width: 100%;
        float: none;
        margin: 0 auto;
      }

      .site-header-menu {
        text-align: center;
        width: 100%;
        margin: 0 auto;


        ul li {
          float: none;
          display: inline-block;
        }

      }
    }
  }

  body.header-image-behind {
    .site-header-main {
      min-height: 280px;
      position: relative;
    }

    &.header-left {
      .site-header-main {
        padding: 2em;
        position: relative;
      }

      .hasicon .site-title {
          position: absolute;
          top: 48%;
          transform: translateY(-48%);
          left: 250px;
      }
      .hasicon .site-description {
          position: absolute;
          top: calc(48% + 1.5em);
          transform: translateY(-48%);
          left: 250px;
      }
    }

    &.header-center {
      .site-branding {
          position: absolute;
          top: 35%;
          left: 0;
          padding: 0;
          margin: 0;
        }

        .site-header-menu {
          position: absolute;
          bottom: 0;
          left: 0;
          background: rgba(0,0,0,0.5);
        }
      }
  }
}
