// _header.scss

@media screen and (min-width: 44.375em) {
  body.header-center {
    .page-header {
        margin-right: 7.6923%;
    }
  }
}
@media screen and (min-width: 56.875em) {

  body.header-center {
    .site-header {
      text-align: center;

      .site-branding {
        width: 100%;
        float: none;
        margin: 0 auto;
      }

      .site-header-menu {
        text-align: center;
        width: 100%;
        margin: 0 auto;


        ul li {
          float: none;
          display: inline-block;
        }

      }
    }
  }

  body.header-image-behind {
    .site-header-main {
      min-height: 280px;
      position: relative;

    .site-branding {
        position: absolute;
        top: 35%;
        padding: 0;
        margin: 0;
      }

      .site-header-menu {
        position: absolute;
        bottom: 0;
        background: rgba(0,0,0,0.5);
      }

      .site-branding .site-title a,
      .site-description,
      .main-navigation a {
        color: white;
      }
    }
  }
}
